$Montserrat: Montserrat;

a {
  text-decoration: none;
}

a:visited {
  color:#000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px;
  align-items: center;
  flex-wrap: wrap;

  &__img {
    width: 200px;
    height: 50px;
  }
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:0 20px;

  &__item {
    font-family: $Montserrat;
    font-weight: 500;
    font-size: 20px;

    &>button {
      background-color: #3685FB;
      color: #FFFFFF;
      width: 180px;
      height: 50px;
      border: 0;
      border-radius: 50px;
    }
  }
}

.main {

}

.start {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
  width: 100%;
}

.start-img {
  &__item{
    min-width: 30%;
    height: 50vh;
    &--translate {
      height: 40vh;
      min-width: 30%;
      transform: translate(-40px);
    }
  }
}

.start-text {
  width: 40%;

  &__title {
    font-family: $Montserrat;
    font-weight: 700;
    color: #091F3F;
    font-size: 68px;
  }

  &__paragraph {
    font-family: $Montserrat;
    font-weight: 500;
    font-size: 20px;
    color: #898989;
  }

  &__btn {
    background-color: #3685FB;
    color: #FFFFFF;
    width: 180px;
    height: 50px;
    border: 0;
    border-radius: 50px;
    margin: 20px 0;
  }
}

.booking {
  display: flex;
  justify-content: center;
  width: 100%;
  background: 
  linear-gradient(transparent 0%,transparent 40%,#FFFFFF 40%,#FFFFFF 100%),
  linear-gradient(to right,#A18CD1 0%,#FBC2EB 100%);

}

.make-booking {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transform: translate(0,50px);
  background: url(./IMG/main/booking/background-make-booking.jpg) no-repeat;
  
  height: 713px;
  padding: 100px;
  margin-bottom: 50px;

  &__title {
    font-family: $Montserrat;
    font-weight: 700;
    font-size: 50px;
    color:#FFFFFF;
  }

  &__btn {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 50px;
    width: 260px;
    height: 70px;
    font-family: $Montserrat;
    font-size: 24px;
    font-weight: 700;
    color:#3685FB;
    margin-top: 50px;
  }
}

.choosing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;

  &__title {
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 48px;
    color: #222222;
  }
}

.choosing-place {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.place__item1 {
  background-color: #BC1A6E;
  width: 200px;
  min-height: 300px;
  border-radius: 10px;

  &>img {
    width: 200px;
  }

  &>p {
    padding: 10%;
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 42px;
    color: #FFFFFF;
  }
}

.place__item2 {
  background-color: #CC2D4A;
  width: 200px;
  min-height: 300px;
  border-radius: 10px;

  &>img {
    width: 200px;
  }

  &>p {
    padding: 10%;
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 42px;
    color: #FFFFFF;
  }
}

.place__item3 {
  background-color: #D93B30;
  width: 200px;
  min-height: 300px;
  border-radius: 10px;

  &>img {
    width: 200px;
  }

  &>p {
    padding: 10%;
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 42px;
    color: #FFFFFF;
  }
}

.choosing-type {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 48px;
    color: #222222;
  }

}

.type-of-relax {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;

  &__item1 {
    display: flex;
    flex-direction: column;
    margin: 20px;
    &>img {
      max-width: 500px;
    }
    &>p {
      transform: translate(20px,-100px);
      font-family: $Montserrat;
      font-weight: 600;
      font-size: 26px;
      color: #FFFFFF;
      
    }
  }

  &__item2 {
    display: flex;
    flex-direction: column;
    margin: 20px;
    &>img {
      max-width: 500px;
    }
    &>p {
      transform: translate(20px,-100px);
      font-family: $Montserrat;
      font-weight: 600;
      font-size: 26px;
      color: #FFFFFF;
      padding: 20px;
    }
  }

  &__item3 {
    display: flex;
    flex-direction: column;
    margin: 20px;
    &>img {
      max-width: 500px;
    }
    &>p {
      transform: translate(20px,-100px);
      font-family: $Montserrat;
      font-weight: 600;
      font-size: 26px;
      color: #FFFFFF;
      padding: 20px;
    }
  }

  &__item4 {
    display: flex;
    flex-direction: column;
    margin: 20px;
    &>img {
      max-width: 500px;
    }
    &>p {
      transform: translate(20px,-100px);
      font-family: $Montserrat;
      font-weight: 600;
      font-size: 26px;
      color: #FFFFFF;
      padding: 20px;
    }
  }
}

.choosing-package {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: $Montserrat;
    font-size: 48px;
    font-weight: 600;
    color: #222222;
    margin: 50px;
  }
}

.package-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  
}

.package-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-height: 350px;

  &--vip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-height: 350px;
    background-color: #A18CD1;
    border-radius: 10px;
  }

  &__title {
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 30px;

    &--vip {
      font-family: $Montserrat;
      font-weight: 600;
      font-size: 40px;
      color: #FFFFFF;
      margin-bottom: 20px;

    }
  }

  &__btn {
    width: 50%;
    height: 50px;
    background-color:#3685FB;
    border: 0;
    border-radius: 10px;
    &--vip {
    width: 50%;
    height: 50px;
    color: #3685FB;
    border: 0;
    border-radius: 10px;
    }
  }
}

.package-list {  
  list-style: url(./IMG/icons/triag.png);
  margin: 50px;
  height:250px;

  &__item {
    text-align: center;
    vertical-align: middle;
    font-family: $Montserrat;
    font-weight: 400;
    margin: 10px;
  }
}

.reviews {
  min-height: 1000px;
  margin: 50px;
  &__title {
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 48px;
    color: #222222;
  }

  &__paragraph {
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 26px;
    color: #898989;
    width: 40%;
  }
}

.reviews-img {
  margin: 50px;
  min-height: 500px;

  &__img1{
    max-width: 300px;
  }

  &__img2{
    max-width: 300px;
    transform: translate(0,-50px);
  }

  &__img3{
    max-width: 300px;
    transform: translate(0,-100px);
  }

  &__img4{
    max-width: 300px;
    transform: translate(0,-150px);
  }
}

.customer-reviwes {
  transform: translate(50vw,-200px);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  border-bottom: 7px solid #3685FB;
  border-radius: 5px;
  
  &__paragraph {
    font-family: 'Inter', sans-serif;
    margin: 5px;
  }
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: url(./IMG/main/reviews/Qustion.jpg) no-repeat;
  margin: auto;
  width: 1244px;
  min-height: 700px;

  &__title {
    width: 30%;
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
    margin: 5%;
    }

    &__btn {
      background-color: #FFFFFF;
      border: 0px;
      border-radius: 50px;
      width: 260px;
      height: 70px;
      font-family: $Montserrat;
      font-size: 24px;
      font-weight: 700;
      color:#3685FB;
      margin: 5%;
      margin-top: 50px;

    }
}

.send-message {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.user-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__email-input {
    width: 40%;
    min-height: 70px;
    border: 1px solid black;
    border-radius: 10px;
    
  }

  &__btn {
    min-width: 150px;
    height: 50px;
    background-color:#3685FB;
    border: 0;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 0 10px;
  }
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helpfull-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 70px;
  width: 100%;
}

.support {
  &__title {
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 22px;
  }
}

.support-list {
  list-style: none;

  &__item {
    font-family: $Montserrat;
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0 ;
  }
}

.community {
  &__title {
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 22px;
  }
}

.community-list {
  list-style: none;

  &__item {
    font-family: $Montserrat;
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0 ;
  }
}

.about {
  &__title {
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 22px;
  }
}

.about-list {
  list-style: none;

  &__item {
    font-family: $Montserrat;
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0 ;
  }
}

.link {
  width: 30%;

  &__img {
    margin: 20px 0;
  }

  &__paragraph {
    font-family: $Montserrat;
    font-weight: 500;
    font-size: 20px;
    color: #898989;
  }

}

.link-img {
  &__icons {
    margin: 20px;
  }
}

.site-info {
  display: flex;
  gap: 20px;
  list-style: none;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  width: 100%;
  min-height: 50px;

  &__item {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}



@media screen and (max-width:768px){
  .question{
    width: 100%;
  }

  .make-booking {
    width: 100%;
  }

  .type-of-relax__item1>img {
    width: calc(100%);
  }

  .type-of-relax__item2>img {
    width: calc(100%);
  }

  .type-of-relax__item3>img {
    width: calc(100%);
  }

  .type-of-relax__item4>img {
    width: calc(100%);
  }

  .reviews {
    &-img{
      display: flex;
      flex-direction: column;
      align-items: center;
      &__img1{
        max-width: 200px;
      }
    
      &__img2{
        max-width: 200px;
        transform: translate(0,0);
      }
    
      &__img3{
        max-width: 200px;
        transform: translate(0,0);
      }
    
      &__img4{
        max-width: 200px;
        transform: translate(0,0);
      }
    }
  }

  .customer-reviwes{
    transform: translate(0,0);
  }
  
  .link{
    display: flex;
    flex-direction: column;

    &__paragraph{
      font-size: 14px;
    }
  }

  .start-text__title {
    font-size: 40px;
  }

  .link__img{
    margin: 0px;
    transform: scale(0.7);
  }

  .start-img__item--translate {
    transform: translate(0,0);
  }
}

@media screen and (min-width:2560px){
  .reviews-img {
    transform: translate(0,200px);
  }
}